<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
</head>
<body>

<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <header>
        <th:block th:insert="fragments/navigation :: navigation"></th:block>
    </header>
    <!-- END Navigation -->

    <!-- About Container -->
    <main class="p-5 align-content-center bg-blur">
        <div class="info">
            <div></div>
            <div>
                <h4>За нас</h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur consequuntur dolores error est
                fugit
                illo illum iure libero, necessitatibus, nihil possimus recusandae repudiandae sapiente similique sunt
                tenetur
                veniam voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur autem
                beatae,
                consequuntur cupiditate dolorem dolores error et expedita hic impedit in iusto magni mollitia neque nihil
                nisi
                officiis omnis placeat quaerat qui quod rem rerum saepe sapiente sed similique tempore temporibus tenetur
                totam
                ut vel velit, voluptatum! Architecto blanditiis commodi, dolore doloribus eos esse excepturi fugiat hic ipsa
                iste itaque iure laboriosam libero nihil, pariatur quam qui quidem, quo quos repellendus temporibus ut
                veniam
                voluptates. Aperiam beatae ducimus, eius enim, esse, fuga nemo nisi porro provident reiciendis tempore
                voluptas
                voluptate voluptatem. Asperiores corporis deserunt, dolor, earum enim laborum maiores minima mollitia porro,
                possimus rerum sint soluta. Assumenda atque aut dolor enim inventore iure minima, molestiae optio quidem
                quod,
                recusandae reprehenderit sunt totam. Accusantium at dicta dignissimos doloribus ducimus natus obcaecati.
            </div>
            <div></div>
        </div>
    </main>
    <!-- End About Container -->
</div>
<!-- END Wrapper -->

<!-- Footer -->
<th:block th:insert="fragments/footer :: footer"></th:block>
<!-- END Footer -->

</body>
</html>
